# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Generated data
data/raw/*

# Keep empty data folders in Git
!data/raw/.gitkeep

# Jupyter temporary files
.ipynb_checkpoints/

# Local environment variables
.env
